workflows/WF-001-recipe-paste-parser.json
{
  "name": "Plateful — Recipe Paste Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-paste",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Receive Pasted Text",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "recipe-paste"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-text",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-household",
              "leftValue": "={{ $json.body.household_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required fields: text and household_id', error_code: 'INVALID_INPUT' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-invalid-input",
      "name": "Error: Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 480]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook: Receive Pasted Text').first().json.headers['x-supabase-url'] || $env.PLATEFUL_SUPABASE_URL }}/rest/v1/ingredients",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "name,aliases"
            },
            {
              "name": "household_id",
              "value": "=eq.{{ $('Webhook: Receive Pasted Text').first().json.body.household_id }}"
            },
            {
              "name": "is_archived",
              "value": "=eq.false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.PLATEFUL_SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PLATEFUL_SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-ingredients",
      "name": "Supabase: Fetch Household Ingredients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build ingredient reference list AND pre-build the Claude API request body\nconst ingredients = $input.all().map(item => item.json);\n\nlet referenceList = '';\nfor (const ing of ingredients) {\n  let line = ing.name;\n  if (ing.aliases && ing.aliases.length > 0) {\n    line += ` (${ing.aliases.join(', ')})`;\n  }\n  referenceList += line + '\\n';\n}\n\nconst webhookData = $('Webhook: Receive Pasted Text').first().json;\nconst recipeText = webhookData.body.text;\n\nconst systemPrompt = 'You are a recipe parsing assistant for Plateful, a meal planning app. Parse the given recipe text into structured JSON. Return ONLY valid JSON, no markdown, no explanation, no code fences. Follow the exact schema specified. Always return quantities as numbers and units as strings — never some, to taste, or as needed. Match ingredient names against the provided known ingredients list when possible.';\n\nconst userMessage = 'Parse this recipe into structured JSON.\\n\\n## Known Ingredients (match against these):\\n' + referenceList + '\\n## Recipe Text:\\n' + recipeText + '\\n\\n## Required JSON Schema:\\n{\\n  \"success\": true,\\n  \"recipe\": { \"title\": \"string\", \"description\": \"string|null\", \"cuisine\": \"string|null\", \"meal_types\": [\"array\"], \"servings\": \"int\", \"prep_time_min\": \"int|null\", \"cook_time_min\": \"int|null\", \"difficulty\": \"easy|medium|hard\", \"tags\": [\"array\"], \"is_vegetarian\": \"bool\", \"is_vegan\": \"bool\", \"is_batch_friendly\": \"bool\", \"leftover_days\": \"int 0-5\" },\\n  \"ingredients\": [{ \"name\": \"string\", \"matched_name\": \"string|null\", \"quantity\": \"number\", \"unit\": \"string\", \"preparation\": \"string|null\", \"is_optional\": \"bool\", \"group_name\": \"string|null\", \"sort_order\": \"int\" }],\\n  \"steps\": [{ \"step_number\": \"int\", \"instruction\": \"string\", \"duration_min\": \"int|null\" }]\\n}\\n\\nIf you cannot identify a recipe, return: { \"success\": false, \"error\": \"explanation\" }';\n\nconst claudeBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4096,\n  temperature: 0,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userMessage }]\n};\n\nreturn [{\n  json: {\n    recipe_text: recipeText,\n    household_id: webhookData.body.household_id,\n    ingredient_reference: referenceList,\n    ingredient_count: ingredients.length,\n    claude_body: JSON.stringify(claudeBody)\n  }\n}];"
      },
      "id": "build-reference",
      "name": "Build Ingredient Reference List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude-parse",
      "name": "Claude API: Parse Recipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate Claude's response\nconst claudeResponse = $input.first().json;\nconst webhookData = $('Webhook: Receive Pasted Text').first().json;\nconst buildData = $('Build Ingredient Reference List').first().json;\n\ntry {\n  // Extract text content from Claude response\n  const content = claudeResponse.content[0].text;\n  \n  // Parse JSON (handle potential markdown code fences)\n  let cleanJson = content.trim();\n  if (cleanJson.startsWith('```')) {\n    cleanJson = cleanJson.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  \n  const parsed = JSON.parse(cleanJson);\n  \n  // Check if Claude indicated failure\n  if (parsed.success === false) {\n    return [{\n      json: {\n        valid: false,\n        error: parsed.error || 'Could not parse recipe from the provided text.',\n        error_code: 'PARSE_FAILED'\n      }\n    }];\n  }\n  \n  // Validate required fields\n  if (!parsed.recipe || !parsed.recipe.title) {\n    return [{\n      json: {\n        valid: false,\n        error: 'Parsed recipe is missing a title.',\n        error_code: 'PARSE_FAILED'\n      }\n    }];\n  }\n  \n  if (!parsed.ingredients || parsed.ingredients.length === 0) {\n    return [{\n      json: {\n        valid: false,\n        error: 'Parsed recipe has no ingredients.',\n        error_code: 'PARSE_FAILED'\n      }\n    }];\n  }\n  \n  if (!parsed.steps || parsed.steps.length === 0) {\n    return [{\n      json: {\n        valid: false,\n        error: 'Parsed recipe has no cooking steps.',\n        error_code: 'PARSE_FAILED'\n      }\n    }];\n  }\n  \n  // Ensure servings is at least 1\n  parsed.recipe.servings = Math.max(1, parsed.recipe.servings || 2);\n  \n  // Ensure difficulty is valid\n  if (!['easy', 'medium', 'hard'].includes(parsed.recipe.difficulty)) {\n    parsed.recipe.difficulty = 'medium';\n  }\n  \n  return [{\n    json: {\n      valid: true,\n      parsed: parsed,\n      household_id: buildData.household_id,\n      source_text: buildData.recipe_text,\n      source_type: 'paste_import'\n    }\n  }];\n  \n} catch (e) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Failed to parse AI response: ' + e.message,\n      error_code: 'PARSE_FAILED'\n    }\n  }];\n}"
      },
      "id": "validate-response",
      "name": "Validate Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Is Parse Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error, error_code: $json.error_code }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "error-parse-failed",
      "name": "Error: Parse Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATEFUL_SUPABASE_URL }}/rest/v1/recipes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.PLATEFUL_SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PLATEFUL_SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"household_id\": \"{{ $json.household_id }}\",\n  \"title\": {{ JSON.stringify($json.parsed.recipe.title) }},\n  \"description\": {{ JSON.stringify($json.parsed.recipe.description || null) }},\n  \"cuisine\": {{ JSON.stringify($json.parsed.recipe.cuisine || null) }},\n  \"meal_types\": {{ JSON.stringify($json.parsed.recipe.meal_types || []) }},\n  \"servings\": {{ $json.parsed.recipe.servings || 2 }},\n  \"prep_time_min\": {{ $json.parsed.recipe.prep_time_min || 'null' }},\n  \"cook_time_min\": {{ $json.parsed.recipe.cook_time_min || 'null' }},\n  \"difficulty\": {{ JSON.stringify($json.parsed.recipe.difficulty || 'medium') }},\n  \"tags\": {{ JSON.stringify($json.parsed.recipe.tags || []) }},\n  \"source_type\": \"{{ $json.source_type }}\",\n  \"source_text\": {{ JSON.stringify($json.source_text) }},\n  \"status\": \"draft\",\n  \"is_vegetarian\": {{ $json.parsed.recipe.is_vegetarian || false }},\n  \"is_vegan\": {{ $json.parsed.recipe.is_vegan || false }},\n  \"is_batch_friendly\": {{ $json.parsed.recipe.is_batch_friendly || false }},\n  \"leftover_days\": {{ $json.parsed.recipe.leftover_days || 0 }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-recipe",
      "name": "Supabase: Save Recipe (Draft)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "jsCode": "// Match ingredients and save to Supabase using axios\nconst axios = require('axios');\n\nconst recipe = $('Supabase: Save Recipe (Draft)').first().json;\nconst recipeId = Array.isArray(recipe) ? recipe[0].id : recipe.id;\nconst parsedData = $('Validate Claude Response').first().json;\nconst householdId = parsedData.household_id;\nconst ingredients = parsedData.parsed.ingredients;\n\nconst supabaseUrl = $env.PLATEFUL_SUPABASE_URL;\nconst serviceKey = $env.PLATEFUL_SUPABASE_SERVICE_KEY;\n\nconst headers = {\n  'apikey': serviceKey,\n  'Authorization': `Bearer ${serviceKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\n// Fetch current household ingredients\nconst ingResponse = await axios.get(\n  `${supabaseUrl}/rest/v1/ingredients?household_id=eq.${householdId}&is_archived=eq.false&select=id,name`,\n  { headers }\n);\nconst existingIngredients = ingResponse.data;\n\nconst ingLookup = {};\nfor (const ei of existingIngredients) {\n  ingLookup[ei.name.toLowerCase()] = ei.id;\n}\n\nconst recipeIngredients = [];\nconst unmatchedIngredients = [];\n\nfor (const ing of ingredients) {\n  let ingredientId = null;\n  const matchKey = (ing.matched_name || '').toLowerCase();\n  const nameKey = ing.name.toLowerCase();\n\n  if (matchKey && ingLookup[matchKey]) {\n    ingredientId = ingLookup[matchKey];\n  } else if (ingLookup[nameKey]) {\n    ingredientId = ingLookup[nameKey];\n  }\n\n  if (!ingredientId) {\n    const createResp = await axios.post(\n      `${supabaseUrl}/rest/v1/ingredients`,\n      { household_id: householdId, name: ing.name.toLowerCase(), category: 'other', default_unit: ing.unit || 'g' },\n      { headers }\n    );\n    const created = createResp.data;\n    ingredientId = Array.isArray(created) ? created[0].id : created.id;\n    ingLookup[ing.name.toLowerCase()] = ingredientId;\n    unmatchedIngredients.push(ing.name);\n  }\n\n  recipeIngredients.push({\n    recipe_id: recipeId,\n    ingredient_id: ingredientId,\n    quantity: ing.quantity,\n    unit: ing.unit,\n    preparation: ing.preparation || null,\n    is_optional: ing.is_optional || false,\n    group_name: ing.group_name || null,\n    sort_order: ing.sort_order || 0\n  });\n}\n\nif (recipeIngredients.length > 0) {\n  await axios.post(`${supabaseUrl}/rest/v1/recipe_ingredients`, recipeIngredients, { headers });\n}\n\nconst steps = parsedData.parsed.steps.map(s => ({\n  recipe_id: recipeId,\n  step_number: s.step_number,\n  instruction: s.instruction,\n  duration_min: s.duration_min || null\n}));\n\nif (steps.length > 0) {\n  await axios.post(`${supabaseUrl}/rest/v1/recipe_steps`, steps, { headers });\n}\n\nreturn [{\n  json: {\n    recipe_id: recipeId,\n    parsed: parsedData.parsed,\n    unmatched_ingredients: unmatchedIngredients\n  }\n}];"
      },
      "id": "save-ingredients-steps",
      "name": "Match & Save Ingredients + Steps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, recipe_id: $json.recipe_id, recipe: $json.parsed, unmatched_ingredients: $json.unmatched_ingredients }) }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 300]
    }
  ],
  "connections": {
    "Webhook: Receive Pasted Text": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Household Ingredients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch Household Ingredients": {
      "main": [
        [
          {
            "node": "Build Ingredient Reference List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingredient Reference List": {
      "main": [
        [
          {
            "node": "Claude API: Parse Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API: Parse Recipe": {
      "main": [
        [
          {
            "node": "Validate Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Claude Response": {
      "main": [
        [
          {
            "node": "Is Parse Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Parse Valid?": {
      "main": [
        [
          {
            "node": "Supabase: Save Recipe (Draft)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Parse Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Recipe (Draft)": {
      "main": [
        [
          {
            "node": "Match & Save Ingredients + Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match & Save Ingredients + Steps": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Plateful"
    }
  ]
}
